table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
}
th {

  text-align: right;
  vertical-align: middle;
}
td {

  text-align: right;
  vertical-align: middle;
}
th.mat-header-cell:first-of-type, td.mat-cell:first-of-type, td.mat-footer-cell:first-of-type {
  padding-left: 4px;
}
th.mat-header-cell:last-of-type, td.mat-cell:last-of-type, td.mat-footer-cell:last-of-type {
  padding-right: 4px;
}
.table-row {
  height: 30px !important;
}
tr:nth-child(even) {
  background-color: #dddddd;
}

th.mat-sort-header-sorted {
  color: black;

}
