<div class="container">

    <div class="row">
      <div class="col-sm-3">
        <h2>{{totalCost.currency}} {{totalCost.monthToDate|number:'.2-2'}}</h2>
        <p>Month To Date</p>
      </div>
      <div class="col-sm-3">
        <h2>{{totalCost.currency}} {{totalCost.estimatedSpend|number:'.2-2'}}</h2>
        <p> Estimated Spend</p>
      </div>
      <div class="col-sm-3">
        <h2>{{totalCost.currency}} {{totalCost.lastMonth|number:'.2-2'}}</h2>
        <p>Last Month</p>
      </div>
       <div class="col-sm-3">
        <h2 style="color: #ff0000;">{{totalCost.currency}} {{(totalCost.estimatedSpend-totalCost.lastMonth)|number:'.2-2'}}</h2>
        <p>Change From Last Month</p>
      </div>
    </div>

  </div>
