<div class="container">
    <div class="row">
      <div class="col-sm-3">
        <p>{{monthToDate}}</p>
        <p>Month To Date</p> 
      </div>
      <div class="col-sm-3">
        <p>{{estimatedSpend}}</p>
        <p> Estimated Spend</p>
      </div>
      <div class="col-sm-3">
        <p>{{lastMonth}}</p>
        <p>Last Month</p>
      </div>
       <div class="col-sm-3">
        <p style="color: #ff0000;">{{changeFromLastMonth}}</p>
        <p>Change From Last Month</p>
      </div>
    </div>
  </div>