
<div class = "appComponent mx-4">
  <mat-toolbar>
    <div class="collapsible-header" (click)="isShow=!isShow;buttonClick()">
      <i class="material-icons" *ngIf="isShow">arrow_drop_down</i>
      <i class="material-icons" *ngIf="!isShow">arrow_right</i>
    </div>
    <span>Costing</span>
    <span class="example-spacer"></span>
    <div>
      <button mat-icon-button (click)="logout()"  [routerLink]="['/login']" >
        <mat-icon>power_settings_new</mat-icon>
      </button>
    </div>

  </mat-toolbar>
  <br>
  <div *ngIf="isShow; else noShow">
    <!-- <app-home></app-home> -->
    <app-total-cost></app-total-cost>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <app-table2 ></app-table2>
        </div>

        <div class="col-sm-6">
          <app-pie-chart></app-pie-chart>
        </div>

      </div>
    </div>
    <br>
    <div class="container">
      <div class="row">

        <div class="col-sm-6">
          <app-table-chart ></app-table-chart>
        </div>

        <div class="col-sm-6">
          <app-bar-chart></app-bar-chart>
        </div>

      </div>
    </div>
  </div>
  <ng-template #noShow>
    <div>
    </div>
  </ng-template>

</div>
<div>
