<h3><p style="color:#1177bf;">SERVICES BREAKDOWN</p></h3>
<div class="container">
  <table class="table">
    <tbody>
      <tr>
        <td><button type="button" class="btn btn-primary" style="background-color: #FFA1B5;border: none;border-radius:0;"></button> EC2</td>
        <td style="text-align: right;">{{servicesBreakdown.currency}} {{servicesBreakdown.EC2|number:'2.2-2'}}</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-primary" style="background-color: #86C7F3;border: none;border-radius:0;"></button> EFS</td>
        <td style="text-align: right;">{{servicesBreakdown.currency}} {{servicesBreakdown.EFS|number:'2.2-2'}}</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-primary" style="background-color: #FFE29A;border: none;border-radius:0;"></button> OTHER</td>
        <td style="text-align: right;">{{servicesBreakdown.currency}} {{servicesBreakdown.OTHER|number:'2.2-2'}}</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-primary" style="background-color: #F1F2F4;border: none;border-radius:0;"></button> S3</td>
        <td style="text-align: right;">{{servicesBreakdown.currency}} {{servicesBreakdown.S3|number:'2.2-2'}}</td>
      </tr>
      <tr>
        <td><button type="button" class="btn btn-primary" style="background-color: #93D9D9;border: none;border-radius:0;"></button> SUPPORT</td>
        <td style="text-align: right;">{{servicesBreakdown.currency}} {{servicesBreakdown.SUPPORT|number:'2.2-2'}}</td>
      </tr>
      <tr style="font-weight: bold;">
        <td><button type="button" class="btn btn-primary" style="background-color: #ffeae500;border: none;border-radius:0;"></button> TOTAL</td>
        <td style="text-align: right;">{{servicesBreakdown.currency}} {{total|number:'2.2-2'}}</td>
      </tr>
    </tbody>
  </table>
</div>

